input
{
    border: 0;
    padding: 10px 15px;
    padding-top: 0;
    margin-bottom: 10px;
}

input[type=text],
input[type=email],
input[type=password]
{
    border-bottom: 2px solid var(--col-gray);

    &:focus{
        border-bottom: 2px solid var(--col-main);
    }
}

label
{
    padding: 10px 15px;
}

form
{
    inline-size: min-content;
    word-wrap: break-word;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

form p
{
    text-wrap: wrap;
}