input
{
    border: 0;
    padding: 10px 15px;
}

label{
    padding: 10px 15px;
    padding-bottom: 0;
}

form{
    inline-size: min-content;
    word-wrap: break-word;
}

form p{
    text-wrap: wrap;
}