.view
{
    user-select: none;
    background: linear-gradient(to bottom right, var(--col-main), var(--col-tint));
    color: var(--col-fg);
}

.card
{
    padding: 2em;
    padding-left: 3em;
    padding-right: 3em;

    background-color: var(--col-bg);
    color: var(--col-fg);
    border-radius: 10px;
    box-shadow: 5px 5px 50px #00000041;
}

.form-simple
{
    width: 100%;

    input[type=text],
    input[type=email],
    input[type=password]
    {
        padding: 0.8rem 1rem 0.8rem 1rem;

        font-size: 1.1rem;

        background-color: var(--col-bg-tint);
        color: var(--col-fg);
        border: none;
        outline: none;

        &::placeholder
        {
            color: var(--col-bg);
        }
    }

    label
    {
        font-size: 1rem;
    }
}

.main-header
{
    width: 100%;

    justify-content: space-between;
}

.datatable
{
    width: 100%;

    td,
    th
    {
        padding: 5px;
        text-align: left;
    }

    td{
        border: 1px solid var(--col-bg-tint);
    }

    tr
    {
        transition: background-color 50ms ease-out;

        &:hover{
            transition: none;
            background-color: var(--col-bg-extra);
        }
    }

    th{
        position: sticky;
        top: 0px;
        background-color: var(--col-main);
    }

    thead
    {
        font-weight: bold;
    }
}