.view-center
{
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.view-hover
{
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    main
    {
        padding: 20px;
        padding-left: 50px;
        padding-right: 50px;

        background-color: var(--col-prim-dark);
        border-radius: 10px;
        box-shadow: 10 15px 40px var(--col-text-dark-fade);
    }
}

.nav-ver
{
    ul
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.nav-button
{
    font-weight: 600;

    ul
    {
        gap: 10px;

        li
        {
            cursor: pointer;

            padding: 10px;
            padding-left: 50px;
            padding-right: 50px;

            outline: 2px solid var(--col-text-light);
            box-shadow: 4px 4px 4px var(--col-text-dark-fade);
            transition: transform 100ms ease-in;
        }

        li:hover
        {
            transition: outline 50ms ease-out, transform 100ms ease-in;
            outline: 4px solid var(--col-text-light);
        }

        li:active
        {
            transition: outline 50ms ease-out;
            transform: scale(95%);
        }
    }
}

.form
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}