.theme-main
{
    --defcol-primary: #45da59;
    --defcol-secondary: #1ddeae;
    --defcol-active: #0927d1;
    --defcol-inactive: #8f89b4;
    --defcol-alert: #ffc02c;
    --defcol-positive: #1fe700;
    --defcol-negative: #d60a33;

    --defcol-light: #ffffff;
    --defcol-light-tint: #a8a8a8;
    --defcol-light-extra: #eaeaea;
    --defcol-dark: #282828;
    --defcol-dark-tint: #424242;
    --defcol-dark-extra: #1a1a1a;
}

.primary
{
    --col-main: var(--defcol-primary);
    --col-tint: var(--defcol-secondary);
}

.secondary
{
    --col-main: var(--defcol-secondary);
    --col-tint: var(--defcol-primary);
}

.active
{
    --col-main: var(--defcol-active);
    --col-tint: var(--defcol-inactive);

    &:disabled, &.disabled
    {
        --col-main: var(--defcol-inactive);
    }
}

.alert
{
    --col-main: var(--defcol-alert);
    --col-tint: var(--defcol-negative);
}

.positive
{
    --col-main: var(--defcol-positive);
    --col-tint: var(--defcol-secondary);
}

.negative
{
    --col-main: var(--defcol-negative);
    --col-tint: var(--defcol-alert);
}

.dark
{
    --col-fg: var(--defcol-light);
    --col-bg: var(--defcol-dark);
    --col-bg-tint: var(--defcol-dark-tint);
    --col-bg-extra: var(--defcol-dark-extra);
}

.light
{
    --col-fg: var(--defcol-dark);
    --col-bg: var(--defcol-light);
    --col-bg-tint: var(--defcol-light-tint);
    --col-bg-extra: var(--defcol-light-extra);
}