.theme-main
{
    --col-primary: #45da59;
    --col-secondary: #1ddeae;
    --col-active: #0927d1;
    --col-inactive: #8f89b4;
    --col-alert: #ffc02c;
    --col-positive: #1fe700;
    --col-negative: #d60a33;

    --col-light: #fff;
    --col-dark: #282828;
    --col-gray: #717171;

    --col-1: var(--col-primary);
    --col-2: var(--col-light);
    --col-3: var(--col-secondary);
}

.primary
{
    --col-1: var(--col-primary);
    --col-2: var(--col-light);
}

.secondary
{
    --col-1: var(--col-secondary);
    --col-2: var(--col-light);
}

.active
{
    --col-1: var(--col-active);
    --col-2: var(--col-light);

    &:disabled
    {
        --col-1: var(--col-inactive);
    }
}

.alert
{
    --col-1: var(--col-alert);
    --col-2: var(--col-light);
}

.positive
{
    --col-1: var(--col-positive);
    --col-2: var(--col-light);
}

.negative
{
    --col-1: var(--col-negative);
    --col-2: var(--col-light);
}

.dark{
    --col-1: var(--col-dark);
    --col-2: var(--col-light);
}

.light{
    --col-1: var(--col-light);
    --col-2: var(--col-dark);
}