html
{
    height: 100%;
}

.view-home
{
    height: 100%;

    user-select: none;
    background: linear-gradient(to bottom right, var(--col-main), var(--col-tint));
    color: var(--col-fg);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.view-portal
{
    height: 100%;
    width: 100%;

    user-select: none;
    background: linear-gradient(to bottom right, var(--col-main), var(--col-tint));
    color: var(--col-fg);

    display: flex;
    align-items: center;
    justify-content: center;

    #root
    {
        padding: 40px;
        padding-left: 50px;
        padding-right: 50px;

        background-color: var(--col-bg);
        color: var(--col-fg);
        border-radius: 10px;
        box-shadow: 0 0 15px #0e341318;

        display: flex;
        flex-direction: column;
        gap: 20px;

        header
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        main
        {
            flex: 1;
        }
    }
}